<a class="job" href="#" title="Consulter l'offre d'emploi">
    <h4 class="title-4">Agent de petite maintenance H/F</h4>
    <ul class="details">
        <li class="school">Bac pro</li>
        <li class="location">Strasbourg</li>
        <li class="money">720 € par mois</li>
    </ul>
    <p>
        Permis B indispensable, vous aimez le travail en équipe et êtes attaché(e) à atteindre vos
        objectifs. Vous souhaitez vous investir à long terme dans une société dynamique...
    </p>
    <span class="link-arrow link-arrow-align-right link-arrow-white">
        <span class="link">Voir l'annonce</span>
    </span>
</a>