<a data-fancybox class="zoom" href="https://www.youtube.com/embed/nFUTFgMGyoU" title="En savoir plus sur le métier">
    {# When the "video" class is present, an icon will be added in css #}
    <div class="image video">
        <div class="lazy_image"
             style="background-image: url('{{ img_url }}placeholder.gif');"
             data-lazy-src="{{ img_url }}zoom.jpg">
            <noscript>
                <img src="{{ img_url }}zoom.jpg" alt="Agent qualifié en propreté hospitalière"/>
            </noscript>
        </div>
    </div>
    <h4 class="title-5">Agent qualifié en propreté hospitalière</h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam cursus elit vitae nisl scelerisque, nec euismod nunc
        egestas. Duis sodales eros nulla, quis cursus mauris lobortis ut. Etiam posuere tortor id justo convallis
        consectetur. Duis mattis luctus sem in pellentesque. Mauris non laoreet magna, in ornare elit. Sed vel auctor mi.
        Fusce justo ipsum, mollis a vestibulum in, lobortis quis nunc. Integer imperdiet at erat vitae dignissim. Praesent
        fermentum ex sed nisi euismod, maximus aliquet ante elementum.
    </p>
</a>