node_modules/
*.pydevproject
.project
.metadata
.phprc
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.idea
.idea/
.externalToolBuilders/
*.launch
.cproject
.buildpath
*.sublime-project
*.sublime-workspace
sftp-config.json
sftp-config-alt.json
.svn/
/*.iml
*.ipr
*.iws
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.gradle
.target
.texlipse
.DS_STORE
yarn-error.log
Generated_Code/
*.Cache
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
*.dotCover
_TeamCity*
*.cachefile
*.remote-sync.json
public_html/.htaccess
public_html/wp-config.php
public_html/wp-content/uploads/
public_html/wp-content/upgrade/
public_html/wp-content/index.php
public_html/wp-content/plugins/index.php
public_html/wp-content/themes/*
!public_html/wp-content/themes/wp-athena/
public_html/*.php
public_html/wp-includes
public_html/wp-admin
public_html/*.txt
!public_html/robots.txt
public_html/*.html
public_html/wp-content/languages
public_html/wp-content/plugins/*
!public_html/wp-content/plugins/advanced-custom-fields-pro/