<section class="jobs-zoom-bloc">
    <div class="wrapper">
        <h3 class="title-1 blue-polygon">
            <span>Zooms métiers</span>
        </h3>
        <div class="zooms">
            {% for i in 1..3 %}
                {% include '../components/_zoom.twig' %}
            {% endfor %}
        </div>
        <a class="btn" href="#" title="Voir tous les métiers">
            <span class="txt">Tous les métiers</span>
        </a>
    </div>
</section>

<section class="jobs-zoom-bloc">
    <div class="wrapper">
        <h3 class="title-1 blue-polygon">
            <span>Zooms métiers</span>
        </h3>
        <div class="zooms">
            {% for i in 1..3 %}
                <a href="#" title="title link">
                    <img class="lazy_image" src="{{ img_url }}placeholder.gif" alt="alt image"
                         data-lazy-src="{{ img_url }}zoom.jpg"/>
                </a>
            {% endfor %}
        </div>
        <a class="btn" href="#" title="Voir tous les métiers">
            <span class="txt">Tous les métiers</span>
        </a>
    </div>
</section>